.container {
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: rgb(252, 232, 210);
    width: 400px;
    height: 400px;
    padding: 1%;
    margin: auto;
    margin-top: 5%;
}